.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 100%;
    align-items: center;
  }

.card {
    display: flex;
    border: 1px solid rgb(230, 228, 228);
    width: 100%;
    margin-top: 20px;
    padding: 15px;
  }

.card_img {
    width: 200px;
    height: 150px;
}

.card_letters {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 12px;
}

.card_title {
    font-size: 1.8ch;
    font-weight: bold;
}

.avatar_author{
    display: flex;
    align-items: center;
}

.card_avatar_img {
    width: 32px;
    height: 32px;
    border-radius: 30px;
    margin: 0px 10px 5px 0px;
}